<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepCounter 2025</title>

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/app.css">


    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/fullcalendar.min.js"></script>
    <script src="../../assets/js/chart.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1>StepCounter 2025</h1>
        </header>
        <%- include ('navbar') %>
            <main>