<div class="text-center p-3">
    <h1>Üdvözöljük!</h1>
    <h3>Ismerje meg applikációnkat!</h3>
    
    <p>
        Ha van már fiókja, akkor <a href="/users/login" class="fw-bold">Lépjen be</a>, ha még nincs, akkor <a href="/users/registration" class="fw-bold">Regisztráljon</a>!
    </p>
    
    <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi totam ad voluptates, debitis tempore architecto excepturi, laboriosam itaque perspiciatis quasi placeat dolores aliquam officia eius vitae? Dolorem optio enim impedit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde eius id quos animi expedita harum labore praesentium. Magnam alias aliquid nisi, sapiente unde, voluptatum rerum esse voluptates corporis officiis delectus?
    </p>
    
    <h5>Üdvözlettel: 13.A szoft</h5>
</div>